.footer-bar{
    background: #282D30;
    position: relative;
    bottom: 0;
    height: 102px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    .copyright {
        width: 306px;
        height: 28px;
        text-align: center;
        color: #FFFFFF;

        small {
            font-family: Roboto;
            font-size: 11px;
            line-height: 13px;
        }
    }
}